name: My First GitHub Actions

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Target environment'
        required: true
        default:'dev'
        type: choice
        options:
          -dev
          -qa
          -prod
          sequence_files:
            description: 'comma-separated sequence file names (e.g. sequence_123456_A.yaml, sequence_123456_B.yaml)
            required: true
    
        
  

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    - name: Run tests
      run: |
        cd src
        python -m pytest addition.py
